<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Vue.js Leaderboard</title>
  <meta name="description" content="Free Code Camp leaderboard using Vue.js">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="page" id="app">
    <header class="page__header">
      <h1 class="page__title">FCC Leaderboard</h1>
    </header>
    <section class="board">
      <div class="container container--narrow" v-cloak>
        <div class="loader v-cloak-visible">
          <p>Let me load some data :)</p>
        </div>
        <div class="message message--error v-cloak-hidden" v-if="error">
          Error: {{error}}
        </div>
        <div class="table v-cloak-hidden" v-else>
          <div class="table__header table__header--sticky">
            <div class="table__cell table__cell--user">Camper</div>
            <div
              @click="sort('recent')"
              class="table__cell table__cell--points table__cell--small"
            >
              <sort-button :class-names="recentClass">Past 30 Days' Points</sort-button>
            </div>
            <div
              @click="sort('alltime')"
              class="table__cell table__cell--points table__cell--small">
              <sort-button :class-names="alltimeClass">All-Time Points</sort-button>
            </div>
          </div>
          <div class="table__body">
            <div
              v-for="(camper, i) in sortedList"
              :key="camper.username"
              class="table__row"
            >
              <div class="table__cell table__cell--user">
                <div class="user__avatar">
                  <img :src="camper.img" />
                </div>
                <button class="user__name user__name--no-margin" @click="showUserCard(i)">
                  {{camper.username}}
                </button>
              </div>
              <div class="table__cell table__cell--points">{{camper.recent | number}}</div>
              <div class="table__cell table__cell--points">{{camper.alltime | number}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="page__footer">
      <div class="container">
        <p class="copyright">Made by <a href="https://zsolti.co" title="Zsolt Meszaros">Zsolt Meszaros</a> as part of his <a href="https://github.com/zsoltime/vue-basic-challenge" title="Vue Challenge">Vue Challenge</a> - Day&nbsp;#1</p>
      </div>
    </footer>
    <modal v-if="showModal" @close="showModal = false">
      <div class="user">
        <div class="user__avatar user__avatar--large">
          <img :src="campers[activeCamper].img" />
        </div>
        <h3 class="user__name user__name--large">
          <a
            :href="fccLink"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >{{campers[activeCamper].username}}</a>
        </h3>
        <div class="user__ranks">
          <div class="rank">
            <h4 class="rank__title">Alltime</h4>
            <rank>{{campers[activeCamper].rank.alltime | number}}</rank>
            <div class="rank__points">
              {{campers[activeCamper].alltime | number}}
              <span class="rank__label">points</span>
            </div>
          </div>
          <div class="rank">
            <h4 class="rank__title">Recent</h4>
            <rank>{{campers[activeCamper].rank.recent | number}}</rank>
            <div class="rank__points">
              {{campers[activeCamper].recent | number}}
              <span class="rank__label">points</span>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>
